.optionsBox {
    margin-top: 20px;
  
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
  }
  
  .optionsBox > button {
    padding: 10px 30px;
  
    border: none;
    border-radius: 56px;
    background: #0f6ef3;
    box-shadow: 6px 6px 12px #3a0a8d, -6px -6px 12px #210a62;
  
    transition: all 750ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .optionsBox > button:hover,
  .optionsBox > button:focus {
    background: #2012bc;
    box-shadow: inset 6px 6px 12px #4873c2, inset -6px -6px 12px #294b9f;
  }